*{
  margin:0px;
  padding:0px;
  font-family:'roboto', sans-serif;
}
body {
}
.nav {
  list-style-type:none;
  display:flex;
  flex-wrap: nowrap;
  width:100%; /* width accross the screen */
}
.navItem, .navItem a {
  display:inline-block;
  flex-grow: 1;
}
.navItem a {
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  color: black;
  text-decoration:none;
  text-align:center;
  font-weight:600; /* makes font bold*/
  font-size:14px;
}
.navItem a:hover { /* allows user to see a grey background when mouse is over the navi bar */
  background: grey;
}

div.container {
    width: 100%;
    border: 1px solid black;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
nav {
  float: left;
  margin: 160px;
  margin: 0;
  padding: 1em;
}

article {
   margin-left: 200px;
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   padding: 1em;
}

form {
  border: solid black 5px;
  padding: 5em;
  width: 40%;
  min-width: 15em;
  max-width: 38.5em;
}

.form-title {
  margin-top: 0;
}

.form-group {
  margin-bottom: 0.5em;
}

textarea {
  width: 100%;
  resize: none;
}

fieldset {
  width: inherit;
}

* {
  box-sizing: border-box;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  // outline: 1px solid #ddd;
  min-height: 100vh;
  padding: 20px;
}


h2 {
  font-size: 35;
  line-height: 2.4rem;
  margin: 0 0 1.4rem 0;
  padding-bottom: 1rem;
}

.heading-cv {
  border-bottom: 2px solid #ddd;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.section-cv {
  // border: 1px solid blue;
  margin: 5rem 0;
}

.section-row {
  display: flex;
  margin-bottom: 2.4rem;
}

.section-col {
  flex: 1;
  margin-right: 10px;
  // border: 1px solid red;
 }

.col-1 {
  flex: 0;
  flex-basis: 5rem;
}

.col-2 {
  flex: 8;
}

.col-3 {
  flex: 3;
}
